* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

a {
  color: rgb(150, 25, 189);
  text-decoration: none;
}
a:hover {
  color: rgb(38, 184, 210);
  text-decoration: underline;
}

.box-button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: rgb(38, 184, 210);
  border-radius: 5px;
}
.box-button:hover {
  background-color: rgb(215, 174, 19);
  cursor: pointer;
}

.magic-wrapper {
  line-height: 200px;
}
.magic {
  width: 200px;
  height: 200px;
  background: rgb(213, 34, 211);
  display: inline-block;
  vertical-align: middle;
}
.magic-wrapper:before {
  content: 'Testo prima';
  display: inline-block;
  vertical-align: middle;
}
.magic-wrapper:after {
  content: 'Testo dopo';
  font-size: 20px;
  color: red;
  display: inline-block;
  vertical-align: middle;
}

.relative {
  position: relative;
  background: green;
}

.absolute {
  position: fixed;
  width: 200px;
  height: 200px;
  background: rgb(213, 34, 211);
  top: 0;
  right: 0;
}
